In [8]:
1+1

2

In [3]:
operation_name = "add"

if operation_name == "add":
    print("add")
elif operation_name == "subtract":
    prnt("subtract")
elif operation_name == "multiply":
    print("multiply")
elif operation_name == "division":
    print("division")
else:
    print("function not available")

add

In [9]:
## Basic syntex - 
# hello today i am learning python

In [ ]:
first_name="qumer"
last_name="danish"

In [12]:
print(first_name)

qumer

In [13]:
type(first_name)

str

In [3]:
### Simple calculator 
num1 = float(input("Enter first name: "))
num2 = float(input("Enter second: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum)
print("Difference:", difference)
print("Product;", product)
print("Quotient", quotient)

Sum: 35.0
Difference: -5.0
Product; 300.0
Quotient 0.75

To run the cell: Shift+Enter

#### This is the first topic in python

In this we will learnb about python basics

To run cell : Shift + Enter