# Loops & Function

In [1]:
table_till = [1,2,3,4,5,6,7,8,9,10]
 
for i in table_till:
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range (1,11,1):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [5]:
for i in range (1,15,4):
    print(2*i)

2
10
18
26

In [6]:
for i in range (1,15,4):
    print(i)

1
5
9
13

In [9]:
for element in range (1,10,3):
    print(2*element)

2
8
14

In [11]:
for element in range (1,10,3):
    print(element)

1
4
7

In [2]:
for element in range (0,10,):
    print(element)

# 0 is start by default
# 1 is step size by default

0
1
2
3
4
5
6
7
8
9

In [1]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [8]:
emp_details = {
               1  : ["monal", "india"],
               2  : ["lucas", "brazil"],
               3  : ["ashrar", "Saudi arbia", 2],
               4  : ["riyan", "india"],
               "hello" : "hello"
               }

In [20]:
emp_details[3]

['ashrar', 'Saudi arbia', 2]

In [3]:
emp_details.keys()

dict_keys([1, 2, 3, 4])

In [9]:
for value in emp_details.keys():
    print(emp_details[value])

['monal', 'india']
['lucas', 'brazil']
['ashrar', 'Saudi arbia', 2]
['riyan', 'india']
hello

# print statement

In [10]:
print("hello")

hello

In [11]:
print("hello", "hi")

hello hi

In [15]:
print("hello", end='  ')
print('hi')

hello  hi

In [23]:
print("hello", end="\n")
print("hi")

hello
hi

In [26]:
print("hello", "hi", 1 ,2, end="")
print("hi")
print("hi")

hello hi 1 2hi
hi

In [21]:
print("hello", end="\t")
print('hi')

hello	hi

In [ ]:
'''
*
**
***
****
*****
'''

In [ ]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [31]:
'''
*
***
*****
'''
for i in range(1,6,2):
    print("*"*i)

*
***
*****

In [39]:
'''
--*
-**
***
'''
'''rows = 3
for i in range(1, rows + 1):
    dashes = '-' * (rows - i)
    stars = '*' * i
    print(dashes + stars)'''

max = 3
for i in range(2, -1, -1):
    print(i*"-",end="")
    print((max-i)*"*")

--*
-**
***

In [7]:
levels = 4  # number of levels in the Galton board
dots = []

for level in range(levels + 1):
    for pos in range(level + 1):
        x = pos - level / 2
        y = -level
        dots.append((x, y))

In [6]:
max = 3
for i in range(2, -1, -1):
    print(i*"-", end="")
    print((max-i)*"*")

--*
-**
***

In [ ]:
max = 3
number_of_dash = 2
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

--*

In [9]:
max = 3
number_of_dash = 1
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

-**

In [10]:
max = 3
number_of_dash = 0
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

***

In [15]:
max = 3
for i in range(2,-1,-1):
    print(i*"-",end="")
    print((max-i)*"*")

--*
-**
***

In [2]:
# problem statement
# there is a defaulter which we dont want to include for the attendence

student_id = 6
for i in range(1, 11):
    if i == student_id:
        continue
    print("student id : ", i)

student id :  1
student id :  2
student id :  3
student id :  4
student id :  5
student id :  7
student id :  8
student id :  9
student id :  10

In [6]:
student_id = 6
for i in range(1, 11):
    if i != student_id:
        print("student id : ", i)

student id :  1
student id :  2
student id :  3
student id :  4
student id :  5
student id :  7
student id :  8
student id :  9
student id :  10

In [7]:
student_ids = [1,6,7,8]
for i in range(1, 11):
    if i == student_ids:
        continue
    print("student ids : ", i)

student ids :  1
student ids :  2
student ids :  3
student ids :  4
student ids :  5
student ids :  6
student ids :  7
student ids :  8
student ids :  9
student ids :  10

In [8]:
student_ids = [1,6,7,8]
for i in range(1, 11):
    if i in student_ids:
        continue
    print("student ids : ", i)

student ids :  2
student ids :  3
student ids :  4
student ids :  5
student ids :  9
student ids :  10

In [11]:
student_id = 3
for i in range(1, 11):
    if i == student_id:
       break
    print("student id : ", i)

student id :  1
student id :  2